@import "../_variable";
// ハンバーガーメニュー
.rotate-top {
    transform: rotate(45deg);
}
.hide-middle {
    opacity: 0;
}
.rotate-bottom {
    transform: rotate(-45deg);
}
.gnav-active {
    opacity: 1;
    pointer-events: auto;
}
