<% 
let title = '会社概要';
let description = '会社概要ページのディスクリプション';
let pageId = 'about'; 
%>
<%- include('./common/_header', { title: title, description: description, pageId: pageId }) %>

<main class="aboutMain c-main">
  <section class="aboutMv">
    <div class="aboutMv_wrap">
    </div>
  </section>
  <section class="aboutContents">
    <div class="aboutContents_wrap">
      <div class="aboutContents_title">
        <h2>会社の理念</h2>
      </div>
      <p class="aboutContents_text">テキスト</p>
      <div class="c-link"><a href="/">トップページへ</a></div>
      <img src="assets/image/about/recruitWork_wolf_run.gif" alt="" width="100">
    </div>
  </section>
</main>

<%- include('./common/_footer')  %>