<% 
let title = 'ブログ｜北海道札幌市のホームページ・Web制作・システム開発会社｜株式会社マーベリックス';
let description = 'ブログページのディスクリプション';
let pageId = 'blog'; 
%>
<%- include('./common/_header', { title: title, description: description, pageId: pageId }) %>

<main class="aboutMain c-main">
  <section class="aboutMv">
    <div class="aboutMv_wrap">
    </div>
  </section>
  <section class="aboutContents">
    <div class="aboutContents_wrap">
      <div class="aboutContents_title">
        <h2>ブログページです</h2>
      </div>
      <p class="aboutContents_text">テキスト</p>
      <div class="c-link"><a href="/">トップページへ</a></div>
    </div>
  </section>
</main>

<%- include('./common/_footer')  %>