<% 
let title = 'ブログ個別投稿｜北海道札幌市のホームページ・Web制作・システム開発会社｜株式会社マーベリックス';
let description = 'ブログ個別投稿ページのディスクリプション';
let pageId = 'blogSingle'; 
%>
<%- include('./common/_header', { title: title, description: description, pageId: pageId }) %>


<main id="blogSingle">
  <div class="wrapper">
    <!-- 全体bg ===================================== -->
    <div class="mainBg">
      <div class="mainBg-bg"></div>
    </div>
    <!-- blogSingle sec ===================================== -->
    <section class="blogSingle">
      <h2 class="blogSingle__ttl">BLOG</h2>
      <p class="blogSingle__sub">ブログ</p>
      <div class="blogSingle__container">
        <div class="blogSingle__unit">
          <p class="blogSingle__date">2023.09.23</p>
          <p class="blogSingle__category">CATEGORY</p>
        </div>
        <p class="blogSingle__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
        <p class="blogSingle__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogSingle__img"></p>

        <h2 class="blogSingle__h2">H2タイトル</h2>
        <p class="blogSingle__txt">テキストテキストテキストテキスト<span class="blg">太字テキスト</span>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <p class="blg__txt">こちらが<span><a href="#" class="blg__link">おすすめリンク</a></span>です</p>

        <h3 class="blg__h3">H3タイトル</h3>
        <p class="blg__txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        
        <!-- 表を入れます -->
        
        <h4 class="blg__h4">H4タイトル</h4>
        <p class="blg__txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        
        <ol class="blg__ol">
          <li class="blg__li">リストタイトル<br>あいうえお</li>
          <li class="blg__li">リストタイトル</li>
          <li class="blg__li">リストタイトル</li>
        </ol>
        <ul class="blg__ul">
          <li class="blg__li">リストタイトル<br>かきくけこ</li>
          <li class="blg__li">リストタイトル</li>
          <li class="blg__li">リストタイトル</li>
        </ul>
        
        <h5 class="blg__h5">H5タイトル</h5>
        <p class="blg__txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>

        <ul class="blg__nav">
          <li class="blg__prev">&larr;　PREV</li>
          <li class="blg__next">&rarr;　NEXT</li>
        </ul>
      </div>
    </section>
  </div>
</main>

<%- include('./common/_footer')  %>