<% 
let title = 'ブログ｜北海道札幌市のホームページ・Web制作・システム開発会社｜株式会社マーベリックス';
let description = 'ブログページのディスクリプション';
let pageId = 'blog'; 
%>
<%- include('./common/_header', { title: title, description: description, pageId: pageId }) %>

<main id="blog">
  <div class="wrapper">
    <!-- 全体bg ===================================== -->
    <div class="mainBg">
      <div class="mainBg-bg"></div>
    </div>
    <!-- blogList sec ===================================== -->
    <section class="blogList">
      <div class="blogList__wrap">
        <h2 class="blogList__ttl">BLOG</h2>
        <p class="blogList__sub">ブログ</p>
        <!-- ↓カテゴリページのみ*************************************** -->
        <div class="blogList__group">
          <p class="blogList__heading">CATEGORY</p>
          <p class="blogList__content">TECHNOLOGY</p>
        </div>
        <!-- ↑カテゴリページのみ*************************************** -->
        <p id="blogListMenu" class="blogList__menu">CATEGORY</p>
        <nav id="blogListNav" class="blogListNav">
          <ul class="blogListNav__ul">
            <li class="blogListNav__list"><a href="blog.html" class="blogListNav__link">ALL</a></li>
            <li class="blogListNav__list"><a href="#" class="blogListNav__link">TECHNOLOGY</a></li>
            <li class="blogListNav__list"><a href="#" class="blogListNav__link">CURRY</a></li>
            <li class="blogListNav__list"><a href="#" class="blogListNav__link">EVENT</a></li>
          </ul>
        </nav>
      </div>
      <!-- 投稿内容 -->
      <div class="blogList__container">
        <a href="blog_single.html" class="blogList__link">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <!-- ↓pc用ダミー  ================================== -->
        <a href="blog_single.html" class="blogList__link responsivePc">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link responsivePc">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link responsivePc">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link responsivePc">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link responsivePc">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link responsivePc">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link responsivePc">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <a href="blog_single.html" class="blogList__link responsivePc">
          <div class="blogList__box">
            <p class="blogList__pic"><img src="./assets/image/top/blog_img2.jpg" alt="ブログ内容写真" class="blogList__img"></p>
            <div class="blogList__inner">
              <div class="blogList__unit">
                <p class="blogList__date">2023.09.23</p>
                <p class="blogList__category">CATEGORY</p>
              </div>
              <p class="blogList__txt">E CROSS TALK vol.10 ワークショップに参加しました！</p>
            </div>
          </div>
        </a>
        <!-- ↑pc用ダミー  ================================== -->
      </div>
      <!-- ページネーション -->
      <ul class="blogList__pageUl">
        <li class="blogList__pageList"><a href="#" class="blogList__pageLink">&lt;</a></li>
        <li class="blogList__pageList"><a href="#" class="blogList__pageLink">1</a></li>
        <li class="blogList__pageList"><a href="#" class="blogList__pageLink">2</a></li>
        <li class="blogList__pageList"><a href="#" class="blogList__pageLink">3</a></li>
        <li class="blogList__pageList"><a href="#" class="blogList__pageLink">4</a></li>
        <li class="blogList__pageList"><a href="#" class="blogList__pageLink">5</a></li>
        <li class="blogList__pageList"><a href="#" class="blogList__pageLink">&gt;</a></li>
      </ul>
    </section>
  </div>
  
</main>


<%- include('./common/_footer')  %>