        <footer class="footer">
            <div class="footer__wrap">
                <%- include('_nav'); %>
            </div>
            <p class="footer__logo">
                <a href="index.html" class="footer__logo-link"><img src="assets/image/top/logo-mvs.svg" alt="マーベリックスロゴ"></a>
            </p>
            <div class="copyright">@Mavericks Inc.</div>
        </footer>
    </div>
</body>
</html>