        <footer class="footer">
            <div class="footer__wrap">

                <!-- 詳細ナビゲーション -->
                <nav class="gnav">
                    <ul class="gnav__nav--left">
                        <li class="gnav__list"><a href="index.html" class="gnav__link">TOP</a></li>
                        <li class="gnav__list"><a href="#" class="gnav__link">ABOUT</a></li>
                        <li class="gnav__list"><a href="#" class="gnav__link">WORKS</a></li>
                        <li class="gnav__list"><a href="#" class="gnav__link">SERVICE</a></li>
                    </ul>
                    <ul class="gnav__nav--right">
                        <li class="gnav__list"><a href="#" class="gnav__link">MEMBER</a></li>
                        <li class="gnav__list"><a href="#" class="gnav__link">COMPANY</a></li>
                        <li class="gnav__list"><a href="blog.html" class="gnav__link">BLOG</a></li>
                        <li class="gnav__list"><a href="#" class="gnav__link">NEWS</a></li>
                    </ul>
                </nav>
                <div class="nav">
                    <p class="nav__btn">
                        <a href="contact.html" class="nav__link">CONTACT</a>
                    </p>
                    <p class="nav__btn">
                        <a href="#" class="nav__link">RECRUIT</a>
                    </p>
                </div>

            </div>
            <p class="footer__logo">
                <a href="index.html" class="footer__logo-link"><img src="assets/image/top/logo-mvs.svg" alt="マーベリックスロゴ"></a>
            </p>
            <div class="copyright">@Mavericks Inc.</div>
        </footer>
    </div>
</body>
</html>