<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=yes" />
    <meta name="description" content="<%= description %>">
    <title><%= title %></title>
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link href="./assets/css/common.css" rel="stylesheet" />
    <link href="./assets/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="./assets/favicon.ico" />
    <script src="./assets/js/script.js"></script>
  </head>
  <body>
    <div class="wrapper">
        <header class="header">
            <div class="header__wrap">
                <h1 class="header__ttl">
                    <a href="index.html" class="header__logo-link"><img src="assets/image/top/logo-bl.svg" alt="マーベリックスロゴ"></a>
                </h1>
                <nav class="gnavTop">
                    <ul class="gnavTop__nav-pc">
                        <li class="gnavTop__list"><a href="#" class="gnavTop__link">ABOUT</a></li>
                        <li class="gnavTop__list"><a href="#" class="gnavTop__link">SERVICE</a></li>
                        <li class="gnavTop__list"><a href="#" class="gnavTop__link">NEWS</a></li>
                        <li class="gnavTop__list"><a href="blog.html" class="gnavTop__link">BLOG</a></li>
                        <li class="gnavTop__list"><a href="#" class="gnavTop__link">COMPANY</a></li>
                        <li class="gnavTop__list"><a href="#" class="gnavTop__link">RECRUIT</a></li>
                        <li class="gnavTop__list"><a href="contact.html" class="gnavTop__link">CONTACT</a></li>
                    </ul>
                </nav>
                <%- include('_nav'); %>
            </div>
        </header>