/* ================================================================
base
================================================================ */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Oswald:wght@300;400;700&display=swap");

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-size: calc(10 / 1440 * 100vw);

  @media screen and (max-width: 1440px) {
    font-size: calc(10 / 1440 * 100vw);
  }

  @media screen and (max-width: 769px) {
    font-size: calc(10 / 375 * 100vw);
  }
}
body {
  color: #222;
  background: #fff;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic",
    sans-serif;
  -webkit-text-size-adjust: none;
  line-height: 1.7;
  overflow: hidden;
  width: 100%;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .inner {
    width: 92%;
  }
}

/* ================================================================
  clearfix
================================================================ */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
