@import "_variable.scss";

.wrapper {
  overflow: auto;
  scroll-snap-type: y mandatory;
  // height: 100vh;
}
.area {
  scroll-snap-align: start;
  // height: 100vh;
}


/* ================================================================
mv
================================================================ */
.mv {
  &__wrap {
    position: relative;
  }
  &__container {
    position: absolute;
    top: 10.2rem;
    left: 0.74rem;
    z-index: 1;

    @media screen and (min-width: 1024px) {
      left: 3.1rem;
    }
  }
  &__ttl {
    position: relative;
    margin-bottom: 2rem;
    font-family: $plus;
    font-size: 6.95rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: -0.13rem;

    @media screen and (min-width: 768px) {
      font-size: 10.8rem;
      line-height: 10rem;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 3.1rem;
    }

    // 文字型抜き
    &::first-letter {
      color: $white;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 5rem;
      height: 32%;
      background: #000;
      z-index: -1;

      @media screen and (min-width: 768px) {
        width: 7.8rem;
      }
    }
    // タイトル下線
    &::after {
      position: absolute;
      bottom: -12px;
      right: 0;
      display: block;
      content: "";
      width: 110%;
      height: 1px;
      background: $black;

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    &--01 {
      display: block;
      animation: fadeUp 1s 1.5s backwards;
    }
    &--02 {
      display: block;
      animation: fadeUp 1s 2.0s backwards;
    }
    &--03 {
      display: block;
      animation: fadeUp 1s 2.5s backwards;
    }
  }
  &__sub {
    font-weight: 700;
    animation: fadeUp 1s 3.5s backwards;

    @media screen and (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }
  &__icon {
    position: absolute;
    bottom: 0.97rem;
    left: 0.94rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135.6px;
    height: 135.5px;
    z-index: 1;

    @media screen and (min-width: 1024px) {
      left: 3.1rem;
    }
  
  }
  &__iconImg {
    position: absolute;
  }
  &__img {
    display: block;
  }
  &__iconTxt {
    position: absolute;
    animation: rotation 20s infinite linear;
  }
  &__bg-wolf {
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    width: 61rem;

    @media screen and (min-width: 768px) {
      width: auto;
      left: 0;
    }
    @media screen and (min-width: 1024px) {
      right: 4.2rem;
      left: auto;
      z-index: -3;
    }
  }
  &__wolf-img {
    display: block;
  }
  &__bg-grey {
    position: absolute;
    top: 11.5rem;
    left: -10rem;
    background: url(../image/top/mv_bg.png) left top / contain;
    width: 40.3rem;
    height: 45.7rem;
    z-index: -3;

    @media screen and (min-width: 768px) {
      width: 62rem;
      height: 70.3rem;
    }
    @media screen and (min-width: 1024px) {
      top: auto;
      bottom: 0;
      left: 30.7rem;
    }
  }
  &__bg-city {
    background: url(../image/top/mv_city.png) center center / cover;
    height: 100vh;
    z-index: -2;
    
    @media screen and (min-width: 1024px) {
      background: url(../image/top/mv_city.png) center center / cover no-repeat;
    }
    @media screen and (min-width: 1240px) {
      background: url(../image/top/mv_city.png) center center / contain no-repeat;
    }
  }
  &__bg-plant {
    position: absolute;
    bottom: 0;
    right: 0.44rem;
    background: url(../image/top/mv_plant.png) left top / cover;
    width: 37.7rem;
    height: 47.0rem;
    z-index: -4;
    
    @media screen and (min-width: 768px) {
      right: 0;
    }
    @media screen and (min-width: 1024px) {
      width: 114rem;
      height: 81rem;
    }
  }
}

/* ================================================================
about
================================================================ */
// mv以降の全体bg
.mainBg {
  position: relative;
  &-bg {
    position: absolute;
    top: 0;
    right: -13.3rem;
    background: url(../image/top/about_bg.png) left top / cover;
    width: 100rem;
    height: 200vh;
    z-index: -10;

    @media screen and (min-width: 1024px) {
      width: 100%;
      right: 0;
    }
    @media screen and (min-width: 1440px) {
      width: 100rem;
      right: 39rem;
    }
  }
}

.about {
  padding: 13rem 3rem 0;
  
  @media screen and (min-width: 1024px) {
    padding: 17rem 29rem 0;
  }
  &__ttl {
    text-align: center;
    margin-bottom: 4rem;
    font-family: $plus;
    font-size: 3.9rem;
    font-weight: 700;

    @media screen and (min-width: 1024px) {
      font-size: 4.9rem;
    }
  }
  &__txt {
    margin-bottom: 4rem;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 3.4rem;

    @media screen and (min-width: 1024px) {
      font-size: 2.1rem;
      line-height: 3.2rem;
    }

    @media screen and (min-width: 768px) {
      &Span--01 {
        margin-left: 4rem;
      }
      &Span--02 {
        margin-left: 2rem;
      }
    }
  }
  &__br {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  // READ MOREボタン
  &__btn {
    @include readMoreBtn;
    text-align: center;
  }
}

/* ================================================================
service
================================================================ */
.service {
  padding: 13rem 3rem 0;

  @media screen and (min-width: 768px) {
    padding: 13rem 11rem 0;
  }
  @media screen and (min-width: 1024px) {
    padding: 14rem 0 0;
    
  }
  &__wrap {
    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4.1rem;
      width: 100rem;
      margin: 0 auto;
    }
  }
  &__container {
    @media screen and (min-width: 1024px) {
      width: 35rem;
    }
  }
  &__ttl {
    position: relative;
    display: inline-block;
    font-family: $plus;
    font-size: 5.3rem;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1024px) {
      font-size: 7.1rem;
    }

    // 文頭型抜き
    &::first-letter {
      color: $white;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 3.3rem;
      height: 80%;
      background: #000;
      z-index: -1;
      @media screen and (min-width: 1024px) {
        width: 4.3rem;
      }
    }
    // タイトル下線
    &::after {
      position: absolute;
      bottom: 6px;
      right: 0;
      display: block;
      content: "";
      width: 200%;
      height: 1.5px;
      background: $black;
    }
  }
  &__sub {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    
    @media screen and (min-width: 1024px) {
      font-size: 1.6rem;
    }
  }
  &__txt {
    margin-bottom: 4rem;

    @media screen and (min-width: 1024px) {
      margin-bottom: 5rem;
    }
  }
  &__btn {
    @include readMoreBtn;

    text-align: center;
    margin-bottom: 4rem;
    
    @media screen and (min-width: 1024px) {
      text-align: left;
      margin-bottom: 0;
    }
  }
  &__pic {
    background: url(../image/top/service_img.jpg) left top / cover;
    width: 100%;
    height: 19.4rem;

    @media screen and (min-width: 1024px) {
      width: 61rem;
      height: 36rem;
    }
    // 写真背景の装飾
    &::after {
      position: relative;
      top: 1.8rem;
      left: 3rem;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: $grey;
      z-index: -1;
    }
  }
}
/* ================================================================
blog
================================================================ */
.blog {
  padding-top: 11.3rem;
  
  &__ttl {
    // 後でmixin
    position: relative;
    display: inline-block;
    // text-align: center;
    font-family: $plus;
    font-size: 5.3rem;
    font-weight: 700;
    line-height: normal;
    transform: translateX(80%);
    
    @media screen and (min-width: 768px) {
      transform: translateX(200%);
    }
    
    @media screen and (min-width: 1024px) {
      font-size: 7.1rem;
      transform: translateX(300%);
    }

    // 文頭型抜き
    &::first-letter {
      color: $white;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 3.3rem;
      height: 80%;
      background: #000;
      z-index: -1;
      @media screen and (min-width: 1024px) {
        width: 4.3rem;
      }
    }
    // タイトル下線
    &::after {
      position: absolute;
      bottom: 6px;
      left: 0;
      display: block;
      content: "";
      width: 1500%;
      height: 1.5px;
      background: $black;
    }
  }
  &__sub {
    // 後でmixin
    font-size: 1.2rem;
    
    @media screen and (min-width: 1024px) {
      font-size: 1.6rem;
    }
    // mixin外
    text-align: center;
    margin-bottom: 4rem;
    transform: translateX(15%);

    @media screen and (min-width: 768px) {
      transform: translateX(5%);
    }
  }
  &__btn {
    @include readMoreBtn;

    text-align: center;
  }
}
// スライダー ==============================
.swiper-blog {
  margin-bottom: 4rem;

  @media screen and (min-width: 1024px) {
    margin-bottom: 5rem;
  }
  &__slide {
    width: 30rem;

    @media screen and (min-width: 1024px) {
      width: 43rem;
    }
  }
  &__date {
    font-size: 1.4rem;
    font-weight: 700;

    @media screen and (min-width: 1024px) {
      font-size: 1.6rem;
    }
  }
  &__txt {
    font-size: 1.8rem;
    font-weight: 700;

    @media screen and (min-width: 1024px) {
      font-size: 2rem;
    }
  }
}
/* ================================================================
member
================================================================ */
.member {
  padding: 13rem 3rem 0;
  margin-bottom: 13rem;

  @media screen and (min-width: 768px) {
    padding: 13rem 11rem 0;
  }
  @media screen and (min-width: 1024px) {
    padding: 14rem 22rem 0;
    margin-bottom: 15rem;
  }
  &__container {
    position: relative;
  }
  &__ttl {
    @extend .service__ttl;

    // 【途中】以下指定できるmixinか、他方法に
    &::before {
      width: 4.6rem;
      @media screen and (min-width: 1024px) {
        width: 6.3rem;
      }
    }
  }
  &__sub {
    // mixin
    margin-bottom: 4rem;
    font-size: 1.2rem;
    
    @media screen and (min-width: 1024px) {
      font-size: 1.6rem;
    }
  }
  
  &__bg {
    // position: relative;
    width: 100%;
    margin-left: -3rem;
    margin-bottom: 5rem;
  }
  &__bg-pic {
    background: url(../image/top/member_img.jpg) center center / contain;
    height: 19.4rem;
    
    @media screen and (min-width: 768px) {
      background: url(../image/top/member_img.jpg) center bottom / cover;
    }
    @media screen and (min-width: 1024px) {
      height: 31.6rem;
      margin-bottom: 6rem;
    }

    // 写真背景の装飾
    &::after {
      position: relative;
      top: 1.8rem;
      left: 3rem;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: $grey;
      z-index: -1;

      @media screen and (min-width: 1024px) {
        top: 2.3rem;
        left: 4.4rem;
      }
    }
  }
  &__bg-plant {
    position: absolute;
    top: 2.6rem;
    right: -14.5rem;
    background: url(../image/top/member_plant.png) center center / contain;
    width: 31rem;
    height: 27.2rem;
    z-index: -2;
    
    @media screen and (min-width: 1024px) {
      top: -1.4rem;
      right: -19.8rem;
      width: 51rem;
      height: 44.8rem;
    }
  }
  &__txt {
    margin-bottom: 4rem;
    font-size: 1.4rem;

    @media screen and (min-width: 1024px) {
      margin-bottom: 5rem;
      font-size: 1.6rem;
    }
  }
  &__btn {
    @include readMoreBtn;
    text-align: center;
  }
}
/* ================================================================
テキストループアニメーション、バナー
================================================================ */
// ループアニメーション
.loop {
  &__wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 12rem;
  
    @media screen and (min-width: 1024px) {
      margin-bottom: 16rem;
    }
  }

  &__txt1 {
    animation: loop 20s linear infinite;
    padding: 0 10px;
  }
  &__txt2 {
    position: absolute;
    top: 0; left: 0;
    animation: loop 20s -10s linear infinite;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
// バナー
.banner__pic {
  cursor: pointer;
}
/* ================================================================
news
================================================================ */
.news {
  padding: 13rem 3rem 0;
  margin-bottom: 11rem;

  @media screen and (min-width: 768px) {
    padding: 13rem 11rem 0;
  }
  @media screen and (min-width: 1024px) {
    padding: 14rem 22rem 0;
    margin-bottom: 6rem;
  }
  &__wrap {
    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__ttl {
    @extend .service__ttl;

    // 【途中】以下指定できるmixinか、他方法に
    &::before {
      width: 4rem;
      @media screen and (min-width: 1024px) {
        width: 5.3rem;
      }
    }
  }
  &__sub {
    @extend .service__sub;
    @media screen and (min-width: 1024px) {
      // margin-bottom: 5.8rem;
    }
  }
  &__btn {
    display: none;

    @media screen and (min-width: 1024px) {
      @include readMoreBtn;
      display: inline-block;
    }
  }
  &__container {
    @media screen and (min-width: 1024px) {
      width: 73.1rem;
    }
  }
  &__box {
    padding: 1.5rem 0;
    border-top: 1px solid $black;
    
    @media screen and (min-width: 1024px) {
      padding: 2rem 0;
    }
    &:last-child {
      border-bottom: 1px solid $black;
    }
  }
  &__link {
    transition: .3s;
    &:hover {
      opacity: .6;
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      gap: 4.5rem; 
    }
  }
  &__date {
    @media screen and (min-width: 1024px) {
      margin-left: 5rem;
    }
  }
}





