@import "_variable.scss";
@media #{$sp} {
}

.topContents {
  &_wrap {
    @include inner;
  }
  &_title {
    font-size: 22px;
    @media #{$sp} {
      text-align: center;
    }
  }
  &_text {
    font-size: 16px;
  }
}

.topImages {
  &_wrap {
    @include inner;
  }
}
