/* ================================================================
変数
================================================================ */
// レスポンシブ
$tabLarge: 'only screen and (min-width: 1024px) and (orientation: portrait)';

// フォント
$plus: 'M PLUS 1', sans-serif;
$sans: 'Noto Sans JP', sans-serif;
$futura: "futura-pt", sans-serif;

// 色
$black: #000;
$white: #fff;
$grey: #E6E6E6;
$middleGrey: #A0A0A0;
$darkGrey: #888;
$magenda: #ED1E79;
/* ================================================================
mixin
================================================================ */
// 下層ページ メイン背景
@mixin mainBg {
    position: relative;
    &-bg {
        position: absolute;
        top: 0;
        right: -17rem;
        width: 102rem;
        z-index: -10;

        @media screen and (min-width: 1024px) {
        top: 0;
        right: 0;
        left: 0;
        }
    }
    &__img {
        display: block;
    }
}

// READ MOREボタン
@mixin readMoreBtn {
    font-family: $futura;
    font-weight: 500;

    &>a {
        position: relative;
        overflow: hidden;
        padding: 0.6rem 4.2rem;
        background: $black;
        border-radius: 6.25rem;
  
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          background-color: hsla(0,0%,90%,.4);
          border-radius: 6.25rem;
          transform: scaleX(0);
          transform-origin: right top;
          transition: transform .2s ease-in-out .01s;
        }
  
        &:hover {
          &:before {
            transform: scale(1);
            transform-origin: left top;
          }
          &:after {
            transform: scale(1);
            transform-origin: left top;
          }
          .readMoreLetter {
            top: 0;
            left: 0.4rem;
          }
        }
  
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          background: linear-gradient(315.21deg,#4e4e4e,#1d1d1d 100.37%);
          border-radius: 6.25rem;
          transform: scaleX(0);
          transform-origin: right top;
          transition: transform .4s ease-in-out .07s;
        }

        &>span {
          position: relative;
          top: 0;
          left: 0;
          color: $white;
          transition: .35s ease-in-out .2s;
          z-index: 1;
        }
    }
}

// セクションタイトル
@mixin secTtl ($afterWidth: 200%) {
    position: relative;
    display: inline-block;
    font-family: $plus;
    font-size: 5.3rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.1rem;

    @media screen and (min-width: 1024px) {
        font-size: 7.1rem;
    }

    // タイトル下線
    &::after {
        position: absolute;
        bottom: 6px;
        right: 0;
        display: block;
        content: "";
        width: $afterWidth;
        height: 1.5px;
        background: $black;
    }

    &>span {
        display: inline-block;
        letter-spacing: -0.1rem;
        line-height: 1;
        opacity: 0;
    
        &:first-child {
            color: $white;
            background-color: black;
        }
    }
}

// セクションサブタイトル
@mixin secTtlSub {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    
    @media screen and (min-width: 1024px) {
        font-size: 1.6rem;
    }
}
