/* ================================================================
変数
================================================================ */
// レスポンシブ
// $tab: 'only screen and (max-width: 1024px) and (orientation: portrait) and (min-width: 770px)';
$tabLarge: 'only screen and (min-width: 1024px) and (orientation: portrait)';
// ↓Tab用メディアクエリはpc用（min-width: 1024px）より後で記述
// @media #{$tabLarge} {
// }

// フォント
$plus: 'M PLUS 1', sans-serif;
$sans: 'Noto Sans JP', sans-serif;
$futura: "futura-pt", sans-serif;

// 色
$black: #000;
$white: #fff;
$grey: #E6E6E6;
$middleGrey: #A0A0A0;
$darkGrey: #888;
$magenda: #ED1E79;
/* ================================================================
mixin
================================================================ */
// READ MOREボタン
@mixin readMoreBtn {
    font-family: $futura;
    font-weight: 500;
    &>a {
        position: relative;
        // padding: 9px 36px;
        padding: 0.6rem 4.2rem;
        background: $black;
        border-radius: 6.25rem;

        // ボタンのbgスライド要素
        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            left: auto;
            content: "";
            height: 100%;
            width: 0;
            background: $white;
            border-radius: 6.25rem;
            transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
        &:hover {
            &::after {
              width: 100%;
              left: 0;
              right: auto;
            }
            .readMoreLetter {
              color: $black;
              z-index: 1;
            }
        }
        // ボタン内文字
        &>span {
            position: relative;
            color: $white;
            transform-origin: center left;
            transition: color 0.3s ease;
            z-index: 1;
        }
    }
}

// セクションタイトル

/* ================================================================
keyframe animation
================================================================ */
// fadeUp
@keyframes fadeUp {
    0% {
        transform: translateY(24px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
// 横からスライド
@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
// mv テキスト回転＠MV
@keyframes rotation {
    from {
        transform: rotate(0deg); transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg); transform: rotate(359deg);
    }
}
// ループアニメーション
@keyframes loop {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }