@import "../_variable";

.footer {
    color: $white;
    // GO TOP ボタン
    &__top {
        width: 38px;
        margin-left: auto;
        margin-right: 1.3rem;
    }
    &__link {
        display: block;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }
    // 以下footer本体
    &__wrap {
        padding-top: 10rem;
        padding-bottom: 8rem;
        background: $black;

        @media screen and (min-width: 1024px) {
          display: flex;
          justify-content: space-between;
          padding: 6.8rem 10.2em;
        }
    }
}
// ナビゲーション
.footerGnav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    margin-bottom: 7.6rem;

    @media screen and (min-width: 1024px) {
      order: 2;
      margin-bottom: 0;
    }
    &__list {
        margin: 0.7rem 0;
    }
    &__link {
        display: block;
        padding: 0.6rem;
        font-family: $futura;
        font-weight: 500;
    }
}

// コンタクト/リクルート 独立ボタン
.footerNav {
    margin-bottom: 5.7rem;

    // position: absolute;
    // bottom: 16rem;
    // left: 50%;
    // transform: translateX(-50%);
    color: $white;
    font-family: $futura;
    font-weight: 500;
    // z-index: 10;

    @media screen and (min-width: 1024px) {
      display: flex;
    }
    &__btn {
        position: relative;
        overflow: hidden;
        width: 264px;
        height: 53px;
        margin: 0 auto 6px;
        font-size: 16px;
        border: 1px solid $white;
        transform: skewX(-23deg);
        transition: ease .4s;
        cursor: pointer;

        @media screen and (min-width: 1024px) {
          margin: 0 3px;
        }
        // ボタン内テキスト
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            content: "CONTACT　→";
            color: $white;
            transform: skew(23deg) translate(-50%,-50%);
            pointer-events: none;
        }
        &:last-child {
            &::after {
                content: "RECRUIT　→";
                font-size: 17px;
            }
        }
    }
    // ホバー時出現のbg要素
    &__btnBg::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        background: hsla(0, 0%, 23%, 0.4);
        mix-blend-mode: multiply;
        width: 100%;
        height: 100%;
        transition: ease .4s;
        pointer-events: none;
      }
      &__btnBg:hover::before {
        transform: translateX(100%);
        }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
}
// ロゴ/コピーライト
.footer {
    &__logo {
        text-align: center;

        @media screen and (min-width: 1024px) {
          text-align: left;
        }
    }
    &__logo-link {
        display: inline-block;
    }
    &__logo-img {
        display: block;
    }
    &__copyright {
        text-align: center;
        font-size: 1rem;

        @media screen and (min-width: 1024px) {
          text-align: left;
        }
    }
}


