@import "../_variable";
.wrapper {
    // overflow: hidden;
}

// ヘッダーgnav
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 1.5rem;
    z-index: 3;
    
    @media screen and (min-width: 768px) {
        padding: 2rem 3rem;
    }
    @media screen and (min-width: 1024px) {
        padding: 1.25rem 3.5rem;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__ttl {
        width: 3.5rem;
    }
    &__link {
        display: block;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
// PCナビゲーション=================
.gnavTop {
    display: none;

    @media screen and (min-width: 1024px) {
        display: block;

        &__nav {
            display: flex;
            align-items: center;
        }
        &__list {
            margin-right: 3rem;
        }
        &__link {
            display: block;
            padding: 0.06rem 1rem;
            &:hover {
                opacity: .5;
            }
        }
        &__btn {
            @include readMoreBtn;

            &>a {
                padding: 0.6rem 2rem;
            }
        }
    }
}
// FadeIn ナビゲーション=================
// ボタン
.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    z-index: 11;

    @media screen and (min-width: 1024px) {
        display: none;
    }

    &__top, &__middle, &__bottom {
        position: absolute;
        display: block;
        width: 1.75rem;
        height: 1px;
        background: $white;
        transition: .3s;
    }
    &__top {
        transform: translateY(-0.6rem);
    }
    &__bottom {
        transform: translateY(0.6rem);
    }
}
// フェードインnav
.gnavFadeIn {
    // 作業用 後で削除******
    // opacity: 1;
    // pointer-events: auto;
    // ↑作業用 ******
    background: url(../image/top/menu-bg.jpg) left top / contain;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    color: $white;
    transition: .4s;
    opacity: 0;
    pointer-events: none;

    @media screen and (min-width: 1024px) {
        display: none;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 3.5rem;
        margin-left: 1.5rem;
        margin-top: 1.1rem;
    }
    &__logoLink {
        display: block;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.6rem;
        width: 100%;

        // 黒背景
        &::before {
            position: absolute;
            top: 0;
            left: 2rem;
            content: "";
            width: 150%;
            height: 100vh;
            transform: skewX(-23deg);
            background: #000;
        }
    }
    &__nav--left, &__nav--right {
        z-index: 10;
    }
    &__list {
        margin: 0.8rem 0;
    }
    &__link {
        display: block;
        padding: 0.6rem;
        font-family: $futura;
        font-weight: 500;
    }
}
// メニュー内独立ボタン
.nav {
    position: absolute;
    // bottom: 16rem;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-family: $futura;
    font-weight: 500;
    z-index: 10;
    @media screen and (min-width: 768px) {
    //   bottom: 8rem;
    bottom: 20%;
    }

    &__btn {
        position: relative;
        overflow: hidden;
        width: 264px;
        height: 53px;
        margin-bottom: 6px;
        font-size: 16px;
        border: 1px solid $white;
        transform: skewX(-23deg);
        transition: ease .4s;
        cursor: pointer;
        // ボタン内テキスト
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            content: "CONTACT　→";
            color: $white;
            transform: skew(23deg) translate(-50%,-50%);
            pointer-events: none;
        }
        &:last-child {
            &::after {
                content: "RECRUIT　→";
                font-size: 17px;
            }
        }
    }
    // ホバー時出現のbg要素
    &__btnBg::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        background: hsla(0, 0%, 23%, 0.4);
        mix-blend-mode: multiply;
        width: 100%;
        height: 100%;
        transition: ease .4s;
        pointer-events: none;
      }
      &__btnBg:hover::before {
        transform: translateX(100%);
        }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
}





