@import "../_variable";

#blogSingle {
    .wrapper {
        padding: 0 3rem;

        @media screen and (min-width: 1024px) {
            // padding:0 10rem;
            padding: 0;
        }
    }

    // 全体bg
    .mainBg {
        @include mainBg;
    }

    .blogSingle {
        &__ttl {
            position: relative;
            display: inline-block;
            font-family: $plus;
            font-size: 5.3rem;
            font-weight: 700;
            line-height: normal;
        
            // このページの個別設定
            margin-top: 11.2rem;
            // ↑このページの個別設定
        
            @media screen and (min-width: 1024px) {
                font-size: 7.1rem;
                // このページの個別設定
                margin-top: 14rem;
                margin-left: 21.8rem;
                // ↑このページの個別設定
            }
        
            // 文頭型抜き
            &::first-letter {
              color: $white;
            }
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              content: "";
              width: 3.3rem;
              height: 80%;
              background: #000;
              z-index: -1;
              @media screen and (min-width: 1024px) {
                width: 4.3rem;
              }
            }
            // タイトル下線
            &::after {
              position: absolute;
              bottom: 6px;
              right: 0;
              display: block;
              content: "";
              width: 200%;
              height: 1.5px;
              background: $black;
        
              @media screen and (min-width: 1024px) {
                  width: 300%;
              }
            }
        }

        &__sub {
            font-size: 1.2rem;

            // このページの個別設定
            margin-bottom: 6.6rem;
            // ↑このページの個別設定
            
            @media screen and (min-width: 1024px) {
              font-size: 1.6rem;

            // このページの個別設定
            margin-left: 21.8rem;
            // ↑このページの個別設定
            }
        }

        &__container {
            padding: 4rem 2rem;
            margin-bottom: 29rem;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            @media screen and (min-width: 1024px) {
                padding: 10rem 12rem;
                margin: 0 10rem 26.7rem;
            }
        }

        &__box {
            margin-bottom: 8rem;
        }
        
        &__unit {
            display: flex;
            gap: 2.4rem;
            margin-bottom: 1.4rem;
            color: #4d4d4d;
            font-size: 1.4rem;
            font-weight: 700;

            @media screen and (min-width: 1024px) {
                margin-bottom: 3rem;
                font-size: 1.6rem;
            }
        }

        &__category {
            display: flex;
            align-items: center;

            &::before {
                position: relative;
                bottom: 0;
                left: -1.1rem;
                content: "";
                width: 2px;
                height: 1.4rem;
                background: #4d4d4d;
            }
        }
        
        &__heading {
            margin-bottom: 3rem;
            font-size: 1.8rem;
            font-weight: 700;
            
            @media screen and (min-width: 1024px) {
                margin-bottom: 6rem;
                font-size: 3.4rem;
            }
        }
        
        &__pic {
            margin-bottom: 3rem;
            width: 100%;

            @media screen and (min-width: 1024px) {
                margin-bottom: 6rem;
            }
        }

        &__img {
            display: block;
            height: 100%;
        }

        &__txt {
            margin-top: 6rem;
        }
    }
}