@import "../_variable";
#top {
  /* ================================================================
  mv
  ================================================================ */
  .mv {
    &__wrap {
      position: relative;
    }

    &__container {
      position: absolute;
      top: 10.2rem;
      left: 0;
      z-index: 1;

      @media #{$tabLarge} {
        top: 20rem;
      }
    }
    
    &__ttl {
      position: relative;
      margin-bottom: 2rem;
      margin-left: 1.2rem;
      font-family: $plus;
      font-size: 6.95rem;
      font-style: normal;
      font-weight: 700;
      line-height: 7rem;
      letter-spacing: -0.13rem;

      @media screen and (min-width: 600px) {
        font-size: 5.8rem;
        line-height: 5.2rem;
      }
      @media screen and (min-width: 768px) {
        margin-left: 3.6rem;
        font-size: 13rem;
        line-height: 12rem;
        letter-spacing: -0.4rem;
      }
      @media screen and (min-width: 1024px) {
        font-size: 11.8rem;
        line-height: 11rem;
        margin-left: 3.1rem;
        margin-bottom: 3.1rem;
      }
      @media #{$tabLarge} {
        font-size: 136px;
        line-height: 1;
        margin-left: 6.5rem;
      }

      // 文字型抜き
      &::first-letter {
        color: $white;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: "";
        width: 5rem;
        height: 32%;
        background: #000;
        animation: fadeUp 1s 0.5s backwards;
        z-index: -1;

        @media screen and (min-width: 600px) {
          width: 4.3rem;
        }
        @media screen and (min-width: 768px) {
          width: 9.3rem;
        }
        @media screen and (min-width: 1024px) {
          width: 8.6rem;
        }
        @media #{$tabLarge} {
          width: 100px;
        }
      }
      // タイトル下線
      &::after {
        position: absolute;
        bottom: -12px;
        right: 0;
        display: block;
        content: "";
        width: 110%;
        height: 1px;
        background: $black;
        animation: slide 1s 1.3s backwards;
      }
      &--01 {
        display: block;
        animation: fadeUp 1s 0.5s backwards;
      }
      &--02 {
        display: block;
        animation: fadeUp 1s 0.7s backwards;
      }
      &--03 {
        display: block;
        animation: fadeUp 1s 0.9s backwards;
      }
    }

    &__sub {
      margin-left: 1.5rem;
      font-weight: 700;
      animation: fadeUp 1s 1.7s backwards;

      @media screen and (min-width: 600px) {
        font-size: 1.2rem;
      }

      @media screen and (min-width: 768px) {
        margin-left: 4.3rem;
        font-size: 2.9rem;
      }
      @media screen and (min-width: 1024px) {
        font-size: 2.5rem;
        margin-left: 3.7rem;
      }
      @media #{$tabLarge} {
        margin-left: 7rem;
        font-size: 30px;
      }
    }

    // 回転アニメーションのロゴ============
    &__icon {
      position: absolute;
      bottom: 0.97rem;
      left: 0.94rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 135.6px;
      height: 135.5px;
      z-index: 1;

      @media screen and (min-width: 768px) {
        left: 3.8rem;
      }
      @media screen and (min-width: 1024px) {
        left: 3.1rem;
      }
    }

    &__iconImg {
      position: absolute;
    }

    &__img {
      display: block;
    }

    &__iconTxt {
      position: absolute;
      animation: rotation 20s infinite linear;
    }
    // ↑回転アニメーションのロゴ=================

    &__bg-wolf {
      position: absolute;
      bottom: 0rem;
      right: 3rem;
      width: 61rem;

      @media screen and (min-width: 500px) {
        width: auto;
      }
      @media screen and (min-width: 768px) {
        right: 17rem;
        left: 0;
      }
      @media screen and (min-width: 1024px) {
        bottom: 0;
        right: 0;
        left: 64rem;
        width: 75.3rem;
        z-index: -3;
      }
      @media #{$tabLarge} {
        z-index: 0;
        width: auto;
        left: 0;
        right: 20rem;
      }
    }

    &__bg-grey {
      position: absolute;
      top: 11.5rem;
      left: -10rem;
      background: url(../image/top/mv_bg.png) left top / contain;
      width: 40.3rem;
      height: 45.7rem;
      z-index: -3;

      @media screen and (min-width: 768px) {
        width: 62rem;
        height: 70.3rem;
      }
      @media screen and (min-width: 1024px) {
        top: auto;
        bottom: 0;
        left: 30.7rem;
      }
      @media #{$tabLarge} {
        width: 82rem;
        height: 102rem;
        top: 16.7rem;
        left: 5rem;
      }
    }

    &__bg-city {
      background: url(../image/top/mv_city.png) center center / cover;
      height: 100vh;
      z-index: -2;
      
      @media screen and (min-width: 1024px) {
        position: relative;
        right: 3.5rem;
        background: url(../image/top/mv_city.png) center center / contain no-repeat;

      }
      @media #{$tabLarge} {
        position: static;
        background: url(../image/top/mv_city.png) center center / cover no-repeat;
      }
      @media screen and (min-width: 1240px) {
        background: url(../image/top/mv_city.png) center center / contain no-repeat;
      }
    }

    &__bg-plant {
      position: absolute;
      bottom: 0;
      right: 0;
      background: url(../image/top/mv_plant.png) left top / cover;
      width: 37.7rem;
      height: 47.0rem;
      z-index: -4;
      
      @media screen and (min-width: 768px) {
        bottom: 0;
        right: 0;
        width: 100rem;
        height: 70rem;
      }
      @media screen and (min-width: 1024px) {
        width: 114rem;
        height: 81rem;
      }
    }
  }

  /* ================================================================
  about
  ================================================================ */
  // mv以降の全体bg
  .mainBg {
    position: relative;

    &-bg {
      position: absolute;
      top: 2.4rem;
      right: -13.5rem;
      width: 102rem;
      z-index: -10;

      @media screen and (min-width: 768px) {
        right: 5.5rem;
      }
      @media screen and (min-width: 1024px) {
        top: 0;
        right: 0;
        left: 0;
      }
    }
    
    &__img {
      display: block;
    }
  }

  .about {
    padding: 13rem 3rem 0;
    
    @media screen and (min-width: 1024px) {
      padding: 17rem 29rem 0;
    }

    &__ttl {
      text-align: center;
      margin-bottom: 4rem;
      font-family: $plus;
      font-size: 3.9rem;
      font-weight: 700;

      @media screen and (min-width: 1024px) {
        font-size: 4.9rem;
      }
    }

    &__txt {
      margin-bottom: 4rem;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 3.5rem;

      @media screen and (min-width: 1024px) {
        font-size: 2.1rem;
      }

      @media screen and (min-width: 768px) {
        &Span--01 {
          margin-left: 4rem;
        }
        &Span--02 {
          margin-left: 2rem;
        }
      }
    }

    &__br {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__btn {
      @include readMoreBtn;

      display: flex;
      justify-content: center;
    }
  }

  /* ================================================================
  service
  ================================================================ */
  .service {
    padding: 13rem 3rem 0;

    @media screen and (min-width: 768px) {
      padding: 13rem 11rem 0;
    }
    @media screen and (min-width: 1024px) {
      padding: 14.3rem 0 0;
      
    }
    &__wrap {
      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4.1rem;
        width: 100rem;
        margin: 0 auto;
      }
    }
    &__container {
      @media screen and (min-width: 1024px) {
        width: 35rem;
      }
    }
    // セクションタイトル
    &__ttl {
      @include secTtl;
    }

    &__sub {
      @include secTtlSub;
    }

    &__txt {
      margin-bottom: 4rem;

      @media screen and (min-width: 1024px) {
        margin-bottom: 5rem;
      }
    }
    &__btn {
      @include readMoreBtn;

      display: flex;
      justify-content: center;
      margin-bottom: 4rem;
      
      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
      }
    }
    &__pic {
      background: url(../image/top/service_img.jpg) left top / cover;
      width: 100%;
      height: 19.4rem;

      @media screen and (min-width: 1024px) {
        width: 61rem;
        height: 36rem;
      }
      // 写真背景の装飾
      &::after {
        position: relative;
        top: 1.8rem;
        left: 3rem;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background: $grey;
        z-index: -1;
      }
    }
  }
  /* ================================================================
  blog
  ================================================================ */
  .blog {
    padding-top: 11.3rem;

    // セクションタイトル
    &__ttl {
      @include secTtl(1500%);

      transform: translateX(80%);
      
      @media screen and (min-width: 768px) {
        transform: translateX(200%);
      }
      @media screen and (min-width: 1024px) {
        transform: translateX(300%);
      }

      // タイトル下線
      &::after {
        left: 0;
      }
    }

    &__sub {
      @include secTtlSub;

      text-align: center;
      transform: translateX(15%);

      @media screen and (min-width: 768px) {
        transform: translateX(5%);
      }
    }

    &__btn {
      @include readMoreBtn;

      display: flex;
      justify-content: center;
    }
  }
  // スライダー ==============================
  .swiper-blog {
    margin-bottom: 4rem;
    @media screen and (min-width: 1024px) {
      margin-bottom: 5rem;
    }
    &__slide {
      @media screen and (min-width: 768px) {
        padding: 0;
      }
    }
    &__pic {
      margin-bottom: 2.7rem;
    }
    &__img {
      display: block;
      height: 100%;
    }
    &__unit {
      display: flex;
      gap: 2.4rem;
      color: #4d4d4d;
      font-size: 1.4rem;
      font-weight: 700;
      @media screen and (min-width: 1024px) {
        font-size: 1.6rem;
      }
    }
    &__category {
      display: flex;
      align-items: center;
      &::before {
        position: relative;
        bottom: 0;
        left: -1.1rem;
        content: "";
        width: 2px;
        height: 1.4rem;
        background: #4d4d4d;
      }
    }
    &__txt {
      font-size: 1.8rem;
      font-weight: 700;
      @media screen and (min-width: 1024px) {
        font-size: 2rem;
      }
    }
  }
  /* ================================================================
  member
  ================================================================ */
  .member {
    padding: 13rem 3rem 0;
    margin-bottom: 13rem;

    @media screen and (min-width: 768px) {
      padding: 13rem 11rem 0;
    }
    @media screen and (min-width: 1024px) {
      padding: 14rem 22rem 0;
      margin-bottom: 15rem;
    }

    &__container {
      position: relative;
    }
    
    // セクションタイトル
    &__ttl {
      @include secTtl;
    }

    &__sub {
      @include secTtlSub;
    }
    
    &__bg {
      width: 100%;
      margin-left: -3rem;
      margin-bottom: 5rem;
    }
    &__bg-pic {
      background: url(../image/top/member_img.jpg) center center / contain;
      width: 100%;
      height: 19.4rem;
      
      @media screen and (min-width: 768px) {
        background: url(../image/top/member_img.jpg) center bottom / cover;
        width: 100%;
      }
      @media screen and (min-width: 1024px) {
        height: 31.6rem;
        margin-bottom: 6rem;
      }

      // 写真背景の装飾
      &::after {
        position: relative;
        top: 1.8rem;
        left: 3rem;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background: $grey;
        z-index: -1;

        @media screen and (min-width: 1024px) {
          top: 2.3rem;
          left: 4.4rem;
        }
      }
    }
    &__bg-plant {
      position: absolute;
      top: 2.6rem;
      right: -14.5rem;
      background: url(../image/top/member_plant.png) center center / contain;
      width: 31rem;
      height: 27.2rem;
      z-index: -2;
      
      @media screen and (min-width: 1024px) {
        top: -1.4rem;
        right: -19.8rem;
        width: 51rem;
        height: 44.8rem;
      }
    }
    &__txt {
      margin-bottom: 4rem;
      font-size: 1.4rem;

      @media screen and (min-width: 1024px) {
        margin-bottom: 5rem;
        font-size: 1.6rem;
      }
    }
    &__btn {
      @include readMoreBtn;

      display: flex;
      justify-content: center;

      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
  /* ================================================================
  テキストループアニメーション、バナー
  ================================================================ */
  // ループアニメーション
  .loop {
    &__wrap {
      overflow: hidden;
      position: relative;
      width: 100%;
      margin-bottom: 12rem;
    
      @media screen and (min-width: 1024px) {
        margin-bottom: 16rem;
      }
    }

    &__txt1 {
      width: 260%;
      padding: 0 1rem;
      animation: loop 20s linear infinite;

      @media screen and (min-width: 768px) {
        width: 180%;
        padding: 0 2rem;
      }
      @media screen and (min-width: 1024px) {
        width: 100%;
        padding: 0 2rem;
      }
    }
    
    &__txt2 {
      position: absolute;
      top: 0; left: 0;
      width: 260%;
      padding: 0 1rem;
      animation: loop 20s -10s linear infinite;

      @media screen and (min-width: 768px) {
        width: 180%;
        padding: 0 2rem;
      }
      @media screen and (min-width: 1024px) {
        width: 100%;
        padding: 0 2rem;
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  // バナー
  .banner__pic {
    cursor: pointer;
  }
  /* ================================================================
  news
  ================================================================ */
  .news {
    padding: 13rem 3rem 0;
    margin-bottom: 16.8rem;

    @media screen and (min-width: 768px) {
      padding: 13rem 11rem 0;
    }
    @media screen and (min-width: 1024px) {
      padding: 14rem 22rem 0;
      margin-bottom: 11.8rem;
    }

    &__wrap {
      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
      }
    }

    // セクションタイトル
    &__ttl {
      @include secTtl;
    }

    &__sub {
      @include secTtlSub;
    }

    &__btn {
      display: none;

      @media screen and (min-width: 1024px) {
        @include readMoreBtn;

        display: flex;
        justify-content: flex-start;
      }
    }

    &__container {
      @media screen and (min-width: 1024px) {
        width: 73.1rem;
      }
    }

    &__box {
      padding: 1.5rem 0;
      border-top: 1px solid $black;
      
      @media screen and (min-width: 1024px) {
        padding: 2rem 0;
      }

      &:last-child {
        border-bottom: 1px solid $black;
      }
    }

    &__link-ttl {
      transition: .1s ease-in-out;

      &:hover {
        transform: translateX(2rem);
      }

      @media screen and (min-width: 1024px) {
        display: flex;
        gap: 4.5rem; 
      }
    }

    &__date {
      @media screen and (min-width: 1024px) {
        margin-left: 5rem;
      }
    }
  }
}




